.c-info-card {
  &__img,
  &__wrapper {
    width: 100%;
    max-width: 520px;
  }

  &__img {
    height: 426px;
    object-fit: cover;
    z-index: -1;
  }

  &__wrapper {
    position: relative;
    background-color: color(primary2-light);
    padding: 20px;
    z-index: 1;

    @include media(tablet) {
      margin-left: 140px;
      margin-top: -213px;
      padding: 50px;
    }
  }

  &__label,
  &__content {
    @include typo-p2;
  }

  &__label {
    margin-bottom: 18px;
  }

  &__title {
    @include typo-buttons;
    margin-bottom: 24px;
  }
}
