.c-related-news-slider {
  padding-top: 40px;

  @include media(tablet) {
    padding-top: 80px;
  }

  &__slide {
    width: 100%;
    @include media(tablet) {
      width: calc(33.33% - 40px);
    }
  }

  .splide__arrow {
    top: 0;
    right: 0;
    background-color: transparent;
    transform: none;

    &--prev {
      left: auto;
      right: 50px;
    }

    &[disabled] {
      color: color(light);
      opacity: 1;
      &:hover {
        color: color(light);
      }
    }
  }
}
