/* ==========================================================================
   Typography
   ========================================================================== */

/* Global texts
========================================================================== */
html {
  @include font-smoothing(on);

  font-size: font-size(main);
}

body {
  font-family: font(main);
  font-weight: font-weight(regular);
  line-height: default(line-height);

  color: color(t-dark);
}

a {
  cursor: pointer;
  text-decoration: none;

  color: currentColor;
  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.t-upper {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}

.t-italic {
  font-style: italic;
}

.t-font-secondary {
  font-family: font(secondary);
}

.t-truncate {
  //white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.t-typo-h1 {
  @include typo-h1;
}

.t-typo-h2 {
  @include typo-h2;
}

.t-typo-h3 {
  @include typo-h3;
}

.t-typo-h4 {
  @include typo-h4;
}

.t-typo-p1 {
  @include typo-p1;
}

.t-typo-p2 {
  @include typo-p2;
}

.t-typo-p3 {
  @include typo-p3;
}

.t-typo-btn {
  @include typo-buttons;
}
